//- form controls
<form action="" method="get"class="form__field">
		<label class="label" for="1">Фамилия</label>
		<input type="text" name="1" id="1" class="input">
		<label class="form__label radio__label" for="2">Скорее положительное</label>
		<input type="radio" name="2" id="2" class="form__input--radio">
		<label class="form__label" for="3">Мост Дьявола</label>
		<input type="checkbox" name="3" id="3" class="form__input--checkbox">
		<span class="checkmark"></span>

	</form>