// buttons and social buttons
.but1{
    width: 79px;
    height: 12px;
    color: black;
    font-family: PTSans;
    font-size: 14px;
    font-weight: 700;
    line-height: 26px;
    text-transform: uppercase;
}
div{
    width:600px;
    height:900px;
    border:1px solid black;
}