// font sizes
$fs-global: 10px;
$fs-p: 1.4em; // font size for paragraph and menu items
$fs-t: 2.1em; // font size for h3 titles
$fs-h: 3em; // font size for h2
$fs-i: 1.8em; // font size for inputs and mobile items

// colors
$c-d: #333; // paragraphs
$c-b: black; // titles and inputs
$c-w: white; // invert
$c-p: #81b3d2; // primary
$c-ph: #669ec0; // primary:hover,:focus
$c-pa: #5496bd; // primary:active

// paddings
$p-s: 3px;